<div class="card mt-5">
  <div class="card-header bg-primary text-white">
    <%= todo.name %>
    <div class="ml-auto">
      
    </div>
    <button class="btn btn-danger">
      <i class="fas fa-trash text-white"></i>
    </button>
    <button class="btn btn-success">
      <i class="fas fa-pen text-white"></i>
    </button>
  </div>
  <div class="card-footer"><%= todo.status %></div>
</div>
